/*FORM*/

.fondo4{
	background-color: /*#C5283D*/#202C39;
	height: 575px;   
}

h3{
	color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    font-size: 27px;
    font-weight: 400px;
    text-shadow: 3px -1px 0px black;
}

form{
	label{
	   font-family: 'Oswald', sans-serif;
	   color: darkorange;
	   }
	}

	.checkbox{
	      font-family: 'Oswald', sans-serif;
	      color: darkorange;
	}
