@import 'nav.scss';
@import 'header.scss';
@import 'nosotros.scss';
@import 'servicios.scss';
@import 'form.scss';


/*MENU DE REDES SOCIALES*/


       .facebook{
			    color: #3b5998;
			}
	   .twitter{
			    color: #55acee;
			}
	   .instagram{
			    color: #e95950;
			}

